body {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    background-color: whitesmoke;
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

form > input, form > textarea, form > button {
    border: 0 solid black;
    width: 200px;
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

form > button, button {
    box-sizing: content-box;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 414px) {    
    form, .container {        
        width: 100%;    
    }    
    form > input,   
    form > textarea,    
    form > button {        
        width: calc(100% - 1em);    
    }
}